<div class="initial-page">
  <h1>Bem vindo(a) ao <i>Exoplanet Finder</i>!</h1>
  <h2 class="sub1">
    Este site é dedicado à análise de exoplanetas, e foi desenvolvido como parte do Trabalho de Conclusão de Curso
    de Ciência da Computação
  </h2>
  <h2>
    Sinta-se a vontade para explorar clicando nas opções acima e ao lado!
  </h2>
  <h3>
    Criadores:
  </h3>
  <div class="d-flex flex-column">
    <a href="https://github.com/AlexCohenDambros" class="github_link my-2" target="_blank">
      <mat-card>
        Alex Cohen Dambrós
      </mat-card>
    </a>
    <a href="https://github.com/gabrielscholze-r" class="github_link my-2" target="_blank">
      <mat-card>
        Gabriel Scholze Rosa
      </mat-card>
    </a>
    <a href="https://github.com/oMullerr" class="github_link my-2" target="_blank">
      <mat-card>
        Matheus Leindorf Muller
      </mat-card>
    </a>

  </div>
</div>
