<div style="margin-top: 100px;" [ngClass]="themeClasses">
  <h1>
    {{ 'home.title' | translate }}
  </h1>

  <p>
    {{'text' | translate}}
  </p>

  <button type="button" class="btn btn-outline-primary" (click)="themeService.toggleTheme()">Alternar tema</button>
  <button type="button" class="btn btn-primary" (click)="changeLanguage('pt')">Portugues</button>
  <button type="button" class="btn btn-primary" (click)="changeLanguage('en-US')">Ingles</button>
  <button type="button" class="btn btn-primary" (click)="changeLanguage('al')">Alemão</button>
  <button type="button" class="btn btn-primary" (click)="changeLanguage('ch')">Chines</button>
  <button type="button" class="btn btn-primary" (click)="changeLanguage('es')">Espanhol</button>
  <button type="button" class="btn btn-primary" (click)="changeLanguage('fr')">Frances</button>
</div>
