<header>
  <h1>Descobertas Espaciais com o Telescópio TESS</h1>
  <p class="header-subtitle">Explorando novos mundos e estrelas distantes</p>
</header>

<div class="container">
  <section>
    <h2>1. O Olho Caçador de Exoplanetas</h2>
    <p>O Telescópio TESS é um verdadeiro caçador de exoplanetas, projetado para detectar planetas que transitam em
      frente às suas estrelas hospedeiras. Ele já identificou inúmeros exoplanetas em sua busca incansável.</p>
  </section>
  <section>
    <h2>2. Uma Visão Abrangente do Céu</h2>
    <p>Um dos destaques do TESS é sua capacidade de observar amplas áreas do céu em busca de planetas. Ele divide o céu
      em setores e fotografa cada setor em detalhes, permitindo uma visão abrangente do cosmos.</p>
  </section>
  <section>
    <h2>3. Estrelas Variáveis e Supernovas</h2>
    <p>O TESS não se limita apenas a procurar exoplanetas. Ele também investiga estrelas variáveis e eventos explosivos
      como supernovas, contribuindo para nosso entendimento de como as estrelas evoluem e mudam ao longo do tempo.</p>
  </section>
  <section>
    <h2>4. Visão Além do Nosso Sistema Solar</h2>
    <p>Com suas descobertas de exoplanetas, o TESS nos oferece um vislumbre de mundos distantes, alguns dos quais podem
      ter condições propícias para a existência de vida. Isso amplia nossos horizontes na busca por vida extraterrestre.
    </p>
  </section>
  <section>
    <h2>5. Inovação Tecnológica</h2>
    <p>O TESS utiliza tecnologia de ponta, incluindo câmeras de alta resolução, para capturar imagens detalhadas do
      espaço. Sua missão é um testemunho do avanço da tecnologia espacial.</p>
  </section>
  <p>
    Com o Telescópio TESS, estamos explorando os confins do universo, revelando segredos cósmicos e expandindo nosso
    conhecimento do espaço infinito.
  </p>
</div>