<header>
  <h1>
    {{ 'telescope.tess.title' | translate }}
  </h1>
  <p class="header-subtitle">
    {{ 'telescope.tess.subtitle' | translate }}
  </p>
</header>

<div class="container">
  <section>
    <h2>
      {{ 'telescope.tess.section1.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.tess.section1.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope.tess.section2.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.tess.section2.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope.tess.section3.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.tess.section3.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope.tess.section4.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.tess.section4.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope.tess.section5.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.tess.section5.p' | translate }}
    </p>
  </section>

  <p>
    {{ 'telescope.tess.p' | translate }}
  </p>
</div>