.home-page{
  width: 100%;
  height: 100%;
}

.home-title{
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 10%;
  text-align: center;
  font-size: 3rem;
  word-wrap: break-word;
}

.home-img{
  align-items: center;
  margin-left: 30%;
  margin-top: 2%;
  width: 55%;
  height: 55%;
}
