<h3>
  <b>
    Selecione o setor desejado:
  </b>
</h3>

<mat-divider></mat-divider>

<div class="modal-container">
  <mat-form-field class="full-width">
    <mat-label>Id</mat-label>
    <mat-select [(ngModel)]="author" (selectionChange)="getIdSelectValue()">
      <mat-option *ngFor="let id of idTargetList" [value]="id">{{ id }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="modal-container">
  <mat-form-field class="full-width">
    <mat-label>Setores</mat-label>
    <mat-select [(ngModel)]="sector" (selectionChange)="getTargetSelectValue()">
      <mat-option *ngFor="let target of finalSector" [value]="target">{{ target }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <button mat-raised-button color="primary" class="customSearchButton" (click)="closeModal()">Buscar</button>
</div>