.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.custom-input {
  height: 40px;
}

.customSearchButton {
  float: right;
}