/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding-top: 20px;
  min-height: 100vh;
  height: 100%;
}

main {
  padding: 20px;
}

.telescope {
  padding: 0 20%;
  text-align: center;
}

.telescope-title {
  font-size: 20px;
  margin-top: 20px;
}

.telescope-subtitle {
  font-size: 20px
}