<mat-drawer-container class="example-container full-screen" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" opened>

    <div class="custom-drawer-title">
      {{'graph-page-obs' | translate}}
    </div>

    <div class="about-button" (click)="modalInfo()">
      <mat-icon color="primary" matTooltip="{{'about-graph' | translate}}">info</mat-icon>
    </div>

    <mat-divider class="blabla"></mat-divider>

    <div class="selectMode">

      <mat-form-field>
        <mat-label>{{'graph-page-select-telescope' | translate}}</mat-label>
        <mat-select [(ngModel)]="selectedTelescope" (selectionChange)="onSelectChange($event)">
          <mat-option *ngFor="let item of telescopeModel" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox color="primary" class="customBox" [(ngModel)]="isCheckboxChecked"
          (change)="onCheckboxChange($event)"></mat-checkbox>

        <span>{{'graph-page-select-candidates?' | translate}}</span>

        <div class="customInfo">
          <mat-icon color="primary"
            matTooltip="{{'about-candidates' | translate}}">
            info
          </mat-icon>
        </div>

      </section>
    </div>

    <button mat-raised-button color="primary" class="customButton" (click)="onButtonClick()">{{'search' | translate}}</button>

    <div class="customFilter" *ngIf="!seeFilter">

      <input type="text" [(ngModel)]="searchValue" (input)="filterList()" placeholder="Pesquisar observação"
        class="mat-input-element custom-input">

      <button class="buttonFilter" mat-raised-button (click)="clearInput()">{{'clean' | translate}}</button>

    </div>

    <mat-divider class="customDivider"></mat-divider>

    <ng-container class="container" *ngFor="let target of dataSource.list_targets">
      <mat-card class="custom-card" (click)="openDialog(target)">
        <mat-card-title>{{ target }}</mat-card-title>
      </mat-card>
    </ng-container>

  </mat-drawer>

  <mat-drawer-content>

    <div *ngIf="graphData">
      <app-visualize-graph [graphData]="graphData"></app-visualize-graph>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
