.full-screen {
  width: 100vw;
  height: 100vh;
}

.mat-drawer {
  width: 310px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-drawer-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-element {
  float: left;
  margin-left: 320px;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.custom-card {
  margin-top: 20px;
}

.mat-card {
  width: 250px;
  height: 70px;
  margin-bottom: 16px;
  margin-left: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mat-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.mat-card-title {
  text-align: center;
  margin: 10px;
}

.selectMode {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
}

.mat-select {
  background-color: #fff;
  font-size: 16px;
  width: 100%;
}

.mat-select-focused .mat-form-field-label {
  color: #007bff;
}

.mat-select-focused .mat-select-arrow {
  color: #007bff;
}

.error-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 100px;
}

.customFilter {
  margin-left: 10px;
  margin-top: 10px;
}

.customFilter .buttonFilter {
  margin-left: 5px;
  margin-top: 10px;
  height: 40px;
}

.customDivider {
  margin-top: 10px;
}

.custom-input {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.custom-input:focus {
  outline: none;
  border-color: #007bff;
}

.example-section {
  display: flex;
  align-items: center;
  /* Isso alinhará verticalmente os elementos ao centro */
}

.selectMode .example-section {
  margin-left: -30px;
}

.customBox {
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.customButton {
  width: 150px;
  margin-top: 0;
  margin-left: 70px;
}

.about-button {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -37px;
  margin-right: 60px;
}

.blabla {
  margin-top: 30px;
}

.customInfo {
  margin-top: 5px;
  margin-left: 5px;
}