<mat-drawer-container class="example-container full-screen" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" [opened]="true" autosize>
    <div class="custom-drawer-title">
      Observações
    </div>
    <mat-divider></mat-divider>

    <div class="selectMode">
      <mat-form-field>
        <mat-label>Selecione o telescópio</mat-label>
        <mat-select [(ngModel)]="selectedTelescope" (selectionChange)="onSelectChange($event)">
          <mat-option *ngFor="let item of telescopeModel" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox color="primary" class="customBox" [(ngModel)]="isCheckboxChecked"
          (change)="onCheckboxChange($event)"></mat-checkbox>
        <span>Deseja selecionar candidatos?</span>
      </section>
    </div>

    <button mat-raised-button color="primary" class="customButton" (click)="onButtonClick()">Buscar</button>

    <div class="customFilter" *ngIf="!seeFilter">

      <input type="text" [(ngModel)]="searchValue" (input)="filterList()" placeholder="Pesquisar observação"
        class="mat-input-element custom-input">

      <button class="buttonFilter" mat-raised-button (click)="clearInput()">Limpar</button>

    </div>

    <mat-divider class="customDivider"></mat-divider>

    <ng-container class="container" *ngFor="let target of dataSource.list_targets">
      <mat-card class="custom-card" (click)="openDialog(target)">
        <mat-card-title>{{ target }}</mat-card-title>
      </mat-card>
    </ng-container>
  </mat-drawer>

  <mat-drawer-content>
    aaaaa
  </mat-drawer-content>

</mat-drawer-container>
