.mat-form-field {
  color: #fff;
}

.mat-select {
  color: #000;
  background-color: #fff;
  background-color: transparent;
}

.mat-option {
  color: #000;
  background-color: #fff;
}

.customOption {
  z-index: 9999;
}