<div class="button-upload-model">
  <button mat-raised-button color="primary" (click)="openDialog()">Inserir modelo</button>
</div>

<div class="accordion-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{"select-model-search" | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>

      <mat-form-field class="custom-mat-form-field">
        <mat-label>{{"select-model-models" | translate}}</mat-label>
        <mat-select [(value)]="model">
          <mat-option *ngFor="let option of modelsModel" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="custom-mat-form-field">
        <mat-label>{{"select-model-vision" | translate}}</mat-label>
        <mat-select [(value)]="vision" (selectionChange)="onTelescopeChange($event)">
          <mat-option *ngFor="let option of visionModel" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="custom-mat-form-field">
        <mat-label>{{"select-model-telescope" | translate}}</mat-label>
        <mat-select [(value)]="telescope" (selectionChange)="onTelescopeChange($event)">
          <mat-option *ngFor="let option of telescopeModel" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{"select-model-targets" | translate}}</mat-label>
        <mat-select [formControl]="target" multiple>
          <mat-option *ngFor="let topping of targetsList" [value]="topping" >{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="buttons-search">
        <button class="clear" mat-raised-button color="secundary" (click)="openDialogInfoModel(vision,model)" [disabled]="!model || !vision">{{"select-model-info" | translate}}</button>
        <button class="clear" mat-raised-button color="secundary" (click)="cleanForms()">{{"select-mode-clean" | translate}}</button>
        <button class="submit" mat-raised-button color="primary" (click)="submitForms()" [disabled]="!model || !vision || !telescope || targetsList.length === 0">{{"select-mode-table-submit" | translate}}</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="table-container">
  <table aria-describedby="table" class="mat-elevation-z8">
    <thead>
      <tr>
          <td class="mat-cell">ID</td>
          <td class="mat-cell">{{"select-mode-table-model" | translate}}</td>
          <td class="mat-cell">{{"select-mode-table-vision" | translate}}</td>
          <td class="mat-cell">{{"select-mode-table-telescope" | translate}}</td>
          <td class="mat-cell">{{"select-mode-table-prob" | translate}}</td>
          <td class="mat-cell">{{"select-mode-table-graph" | translate}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of ELEMENT_DATA">
        <td class="mat-cell">{{ row.id }}</td>
        <td class="mat-cell">{{ row.modelo }}</td>
        <td class="mat-cell">{{ row.visao }}</td>
        <td class="mat-cell">{{ row.telescopio }}</td>
        <td class="mat-cell">{{ row.probabilidade }}</td>
        <td class="mat-cell">
          <button mat-icon-button matTooltip="Info about the action" (click)="openDialogGraph(row.image)">
            <mat-icon>analytics</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
