<div class="button-upload-model">
  <button mat-raised-button color="primary" (click)="openDialog()">Inserir modelo</button>
</div>

<div class="accordion-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Buscar
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>

      <mat-form-field class="custom-mat-form-field">
        <mat-label>Modelo</mat-label>
        <mat-select [(value)]="model">
          <mat-option *ngFor="let option of modelsModel" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="custom-mat-form-field">
        <mat-label>Visão</mat-label>
        <mat-select [(value)]="vision">
          <mat-option *ngFor="let option of visionModel" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="custom-mat-form-field">
        <mat-label>Telescópio</mat-label>
        <mat-select [(value)]="telescope" (selectionChange)="onTelescopeChange($event)">
          <mat-option *ngFor="let option of telescopeModel" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Targets</mat-label>
        <mat-select [formControl]="target" multiple>
          <mat-option *ngFor="let topping of targetsList" [value]="target">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="buttons-search">
        <button class="clear" mat-raised-button color="secundary" (click)="cleanForms()">Limpar</button>
        <button class="submit" mat-raised-button color="primary" (click)="submitForms()">Executar</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="table-container">
  <table aria-describedby="table" class="mat-elevation-z8">
    <thead>
      <tr>
          <td class="mat-cell">ID</td>
          <td class="mat-cell">Name</td>
          <td class="mat-cell">Symbol</td>
          <td class="mat-cell">Weight</td>
          <td class="mat-cell">graph</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of ELEMENT_DATA">
        <td class="mat-cell">{{ row.position }}</td>
        <td class="mat-cell">{{ row.name }}</td>
        <td class="mat-cell">{{ row.symbol }}</td>
        <td class="mat-cell">{{ row.weight }}</td>
        <td class="mat-cell">
          <button mat-icon-button matTooltip="Info about the action">
            <mat-icon>analytics</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
