<mat-tab-group class="optionBar">
  <mat-tab label="{{ 'abaut' | translate }}">
    <header>
      <h1>{{'vision-about-title' | translate}}</h1>
      <p class="header-subtitle">
        {{'vision-about-subtitle' | translate}}
      </p>
    </header>
    <div class="container">
      <section>
        <p>
          {{'vision-about-sector1.p' | translate}}
        </p>
      </section>
      <section>
        <p>
          {{'vision-about-sector2.p' | translate}}
        </p>
      </section>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'global' | translate }}">
    <app-globalvision></app-globalvision>
  </mat-tab>

  <mat-tab label="{{'local' | translate}}">
    <app-localvision></app-localvision>
  </mat-tab>

</mat-tab-group>