header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
}

.left {
  flex-grow: 1;
}

.right {
  flex-shrink: 0;
  margin-left: 10px;
}

mat-form-field {
  margin-right: 30px;
}
.custom-select{
  margin-right: 200px;
}

.home-button{
  cursor: pointer;
  margin-top: 0;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  background-image: url(../header/components/home-icon/planeta.png);
}

.home-button:hover{
  background-image: url(../header/components/home-icon/alien.png);
}
