header {
  background-color: #282c34;
  color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.home-button {
  width: 60px;
  height: 70%;
  background-image: url(../header/components/home-icon/planeta.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.home-button:hover {
  background-image: url(../header/components/home-icon/alien.png);
}

.home-translate {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}