header {
  background-color: #282c34;
  color: #fff;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.customTitle {
  font-size: 1.5em;
  margin-top: 14px;
  margin-left: 100px;
}

.home-button {
  width: 60px;
  height: 70%;
  background-image: url(../header/components/home-icon/planet.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.home-button:hover {
  background-image: url(../header/components/home-icon/alien.png);
  cursor: pointer;
}
