<header>
  <h1>
    {{ 'telescope-kepler.title' | translate }}
  </h1>
  <p class="header-subtitle">
    {{ 'telescope-kepler.subtitle' | translate }}
  </p>
</header>

<div class="container">
  <section>
    <h2>
      {{ 'telescope-kepler.section1.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope-kepler.section1.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope-kepler.section2.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope-kepler.section2.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope-kepler.section3.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope-kepler.section3.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope-kepler.section4.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope-kepler.section4.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope-kepler.section5.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope-kepler.section5.p' | translate }}
    </p>
  </section>
  <p>
    {{ 'telescope-kepler.section5.p2' | translate }}
  </p>
</div>