<div class="container">
  <div class="telescope w-100">
    <p class="telescope-title">
      <b>
        Curiosidades sobre o Telescópio Kepler
      </b>
    </p>
    <p class="telescope-subtitle">
      O Telescópio Espacial Kepler, lançado pela NASA em 2009, revolucionou nossa compreensão do cosmos ao observar
      vastas
      regiões do espaço em busca de exoplanetas - planetas que orbitam estrelas além do nosso próprio sistema solar.
      Durante
      sua missão, que durou até 2018, o Kepler nos presenteou com uma série de descobertas notáveis e revelou segredos
      cósmicos que desafiaram nossas percepções anteriores. Aqui estão algumas curiosidades empolgantes sobre esse
      telescópio extraordinário:
    </p>

    <p>
      <b>
        1. Caçador de Exoplanetas:
      </b>
      O objetivo principal do Kepler era detectar exoplanetas através do método de trânsito,
      observando a diminuição periódica do brilho de uma estrela quando um planeta passa na frente dela, bloqueando
      parte
      da
      luz. Isso permitiu que os astrônomos identificassem milhares de exoplanetas potenciais durante sua missão.
    </p>

    <p>
      <b>
        2. Diversidade Estelar:
      </b>
      O Kepler observou uma ampla gama de estrelas em sua busca por exoplanetas, incluindo
      gigantes vermelhas, anãs brancas, estrelas jovens e até mesmo sistemas estelares binários, onde duas estrelas
      orbitam
      uma em torno da outra.
    </p>

    <p>
      <b>
        3. Descobrindo Habitáveis:
      </b>
      O Kepler descobriu uma série de exoplanetas que orbitavam na "zona habitável" de suas
      estrelas-mãe, onde as condições poderiam ser adequadas para a presença de água líquida e, possivelmente, vida como
      a
      conhecemos.
    </p>

    <p>
      <b>
        4. Variedade de Tamanhos:
      </b>
      As descobertas do Kepler mostraram que os exoplanetas vêm em uma ampla variedade de
      tamanhos, desde gigantes gasosos semelhantes a Júpiter até planetas rochosos menores, semelhantes à Terra.
    </p>

    <p>
      <b>
        5. Exoplanetas Perversos:
      </b>
      O Kepler também detectou exoplanetas em órbitas extremamente rápidas, completando voltas
      ao redor de suas estrelas em questão de poucas horas. Isso desafiou nossa compreensão convencional da formação
      planetária.
    </p>

    <p>
      O Telescópio Kepler, com sua busca pioneira por exoplanetas e suas fascinantes descobertas cósmicas, permanecerá
      como
      um marco na história da exploração espacial, abrindo novos horizontes para nossa compreensão do universo vasto e
      diversificado que nos rodeia.
    </p>
  </div>
</div>