<header>

  <h1 class="text-center my-2"><strong>SVM (Support Vector Machine)</strong></h1>
</header>
<div class="container">
  <p class="my-4">Support Vector Machines (SVMs) são modelos de aprendizado supervisionado amplamente utilizados para
    classificação e regressão. Eles se destacam ao encontrar hiperplanos no espaço de características que melhor separam
    as classes dos dados. Este algoritmo é eficaz tanto para classificação linear quanto para acomodar espaços de
    características de alta dimensão, permitindo lidar com classificações não lineares de forma eficiente.</p>
  <p class="my-4">A essência do funcionamento de um SVM reside na busca pelo hiperplano de separação ótimo. Para este
    fim, são considerados diversos cenários. Por exemplo, ao escolher entre diferentes hiperplanos, é essencial
    identificar aquele que oferece a melhor separação entre as classes. A margem, que representa a distância entre o
    hiperplano e o ponto de dados mais próximo, desempenha um papel crucial na seleção do hiperplano correto,
    assegurando assim a máxima eficácia na classificação das classes.</p>
  <p class="my-4">Em situações em que vários hiperplanos segregam bem as classes, a determinação do plano adequado
    torna-se vital. Nesses casos, o cálculo da margem máxima, ou seja, a maior distância entre o hiperplano e os pontos
    de dados, é fundamental. O hiperplano com a margem máxima é considerado o mais apropriado para a classificação
    eficaz das classes, garantindo uma separação ótima.</p>
</div>
