.table-container {
  max-height: 550px;
  overflow: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 8px;
  text-align: left;
  font-size: 12px;
  border: 1px solid #ddd;
}

.data-table th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  font-weight: bold;
  border: 1px solid #ddd;
}

.buttons-search {
  margin: 0 10px;
}

.telescope-selector {
  display: flex;
  align-items: center;
  width: 98%;
  margin: 10px 0;
  margin-left: 20px;
}

.mat-elevation-z8 {
  width: 98%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 20px;
}

.mat-header-cell {
  background-color: #f5f5f5;
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.mat-cell {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.mat-row:nth-child(odd) .mat-cell {
  background-color: #f9f9f9;
}

.header-item {
  text-transform: uppercase;
  font-size: 14px !important;
}

.custom-toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-button {
  cursor: pointer;
}

.custom-mat-form-field {
  margin-left: 10px;
}