<div class="telescope-selector">

  <div (click)="about()" class="about-button">
    <mat-icon color="primary" matTooltip="{{'about-page' | translate}}">info</mat-icon>
  </div>

  <mat-form-field class="custom-mat-form-field">
    <mat-label>{{ 'table.telescope' | translate }}</mat-label>
    <mat-select [(value)]="telescope">
      <mat-option *ngFor="let option of telescopeModel" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="buttons-search">
    <button class="submit" mat-raised-button color="primary" (click)="submitForms()">{{ 'search' | translate }}</button>
  </div>

  <div class="buttons-search">
    <button class="submit" mat-raised-button color="primary" (click)="downloadCsv()" [disabled]="!dataSource.length">
      {{ 'DownloadData' | translate }}
    </button>
  </div>
</div>

<div class="table-container">
  <table aria-describedby="table" class="data-table">
    <thead>
      <tr>
        <th *ngFor="let header of dataSource[0]" class="header-item">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataSource.slice(1)">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
</div>
