header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
}

.left {
  flex-grow: 1;
  outline: none;
  border: none;
}

.right {
  flex-shrink: 0;
  margin-left: 10px;
}
