<header>
  <h1>
    {{ 'telescope.k2.title' | translate }}
  </h1>
  <p class="header-subtitle">
    {{ 'telescope.k2.subtitle' | translate }}
  </p>
</header>

<div class="container">
  <section>
    <h2>
      {{ 'telescope.k2.section1.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.k2.section1.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope.k2.section2.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.k2.section2.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope.k2.section3.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.k2.section3.p' | translate }}
    </p>
  </section>

  <section>
    <h2>
      {{ 'telescope.k2.section4.h2' | translate }}
    </h2>
    <p>
      {{ 'telescope.k2.section4.p' | translate }}
    </p>
  </section>
</div>