<body>
  <header>
    <h1>Explorando o Universo com o Telescópio K2</h1>
    <p class="header-subtitle">Descubra os segredos do cosmos com essa incrível missão espacial</p>
  </header>
  <div class="container">
    <section>
      <h2>1. Uma Segunda Chance nas Estrelas</h2>
      <p>O Telescópio K2, originalmente parte da missão Kepler, encontrou seu renascimento após uma falha nos
        giroscópios. Com o nome de K2, ele presta homenagem a Johannes Kepler, o célebre astrônomo.</p>
    </section>
    <section>
      <h2>2. Descobrindo Mundos Distantes</h2>
      <p>O K2 tem sido um verdadeiro caçador de exoplanetas, com mais de 350 descobertas até o momento. De super-Terras
        a gigantes gasosos, ele nos presenteou com uma miríade de mundos além do nosso sistema solar.</p>
    </section>
    <section>
      <h2>3. Em Busca da Habitabilidade</h2>
      <p>Uma das missões mais empolgantes do K2 é a busca por exoplanetas em zonas habitáveis, onde a vida poderia
        prosperar. Suas descobertas são um marco na exploração de vida extraterrestre.</p>
    </section>
    <section>
      <h2>4. Além dos Limites Conhecidos</h2>
      <p>O K2 não se limitou apenas à caça de exoplanetas; ele examinou asteroides, estrelas variáveis, supernovas e
        aglomerados estelares, oferecendo um panorama completo do cosmos.</p>
    </section>
  </div>
</body>
