<header>
  <h1>
    {{'exoplanet-info.title' | translate}}
  </h1>
  <p class="header-subtitle">{{'exoplanet-info.Subtitle' | translate}}</p>
</header>

<div class="container">
  <section>
    <p>
      {{'exoplanet-info.section1' | translate}}
    </p>
  </section>

  <section>
    <p>
      {{'exoplanet-info.section2' | translate}}
    </p>
  </section>

  <div class="w-100 text-center mx-2">
    <img src="https://media.tenor.com/omMY2SSgMuYAAAAC/exoplanet.gif" alt="Ilustração de um exoplaneta">
    <p><i>{{'exoplanet-info.graph' | translate}}</i></p>
  </div>

  <section>
    <p>
      {{'exoplanet-info.section3' | translate}}
    </p>
  </section>

  <section>
    <p>
      {{'exoplanet-info.section4' | translate}}
    </p>
  </section>

  <section>
    <p>
      {{'exoplanet-info.section5' | translate}}
    </p>
  </section>

  <section>
    <p>
      {{'exoplanet-info.section6' | translate}}
    </p>
  </section>
</div>