<div class="container p-2 px-5 w-100">
  <h1 class="text-center"><strong>Exoplanetas</strong></h1>

  <p>Exoplanetas, ou planetas extrassolares, são corpos celestes que orbit am estrelas fora do nosso sistema solar. Em outras palavras, são planetas que não pertencem à nossa vizinhança cósmica e estão localizados em sistemas estelares distantes.</p>

  <p>Esses exoplanetas têm se tornado uma área de grande interesse e pesquisa na astronomia. A busca por exoplanetas é conduzida através de técnicas avançadas de observação e análise de dados provenientes de telescópios espaciais e terrestres.</p>

  <div class="w-100 text-center mx-2">
    <img src="https://media.tenor.com/omMY2SSgMuYAAAAC/exoplanet.gif" alt="Ilustração de um exoplaneta">
    <p><i>Curva de Luz</i></p>
  </div>

  <p>Um dos métodos mais comuns de detecção de exoplanetas é a <span class="highlight">método de trânsito</span>. Neste método, os cientistas observam uma pequena redução temporária no brilho de uma estrela quando um exoplaneta passa em frente a ela. Esta diminuição temporária no brilho é chamada de trânsito.</p>

  <p>Outro método comum é a <span class="highlight">medição de velocidade radial</span>, que detecta exoplanetas através do pequeno "balanço" que eles causam na estrela que orbitam, devido à força gravitacional entre eles.</p>

  <p>A descoberta e estudo de exoplanetas é uma das áreas mais emocionantes da astronomia moderna. Ela nos oferece a oportunidade de expandir nossa compreensão do cosmos e pode nos ajudar a responder a perguntas fundamentais sobre a existência de vida além da Terra.</p>

  <p>Com tecnologias e métodos de pesquisa continuamente aprimorados, é muito provável que descobriremos muitos mais exoplanetas fascinantes no futuro.</p>
</div>
