<div mat-dialog-title class="dialog-title">
  <button mat-icon-button aria-label="close dialog" mat-dialog-close class="my-2">
    <mat-icon>close</mat-icon>
  </button>
  <header>
    <h1>{{"modal-about-models-title" | translate}}</h1>
    <p class="header-subtitle">
      {{"modal-about-models-subtitle" | translate}}
    </p>
  </header>

  <div class="container">
    <section>
      <p>
        {{"modal-about-models-section-p1" | translate}}<i>Targets</i>
      </p>
    </section>
    <section>
      <p>
        {{"modal-about-models-section-p2" | translate}}
      </p>
    </section>
    <section>
      <p>
        {{"modal-about-models-section-p3" | translate}}
      </p>
    </section>
  </div>
</div>
